.cart-item {
    height: 80px;
    width: 100%;
    background-color: rgb(243, 246, 245);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img-area {
        height: 80px;
        width: 80px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .item-name {
        font-size: 1rem;
        font-weight: 600;
    }
    .item-quantity {
        input {
            height: 40px;
            width: 100px;
            border-radius: 5px;
            font-size: 1.3rem;
            padding: 0 10px;
            color: gray;
            outline: none;
        }
    }
    .item-price {
        font-size: 1.2rem;
        font-weight: 500;
    }
    button {
        padding: 12px 24px;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 500;
        margin-right: 20px;
        background-color: red;
        color: white;
        border: none;
    }
}
