.shopProductContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 0.5rem;

    border: 2px solid rgb(149, 146, 146);

    .shopProductTitle {
        font-weight: 700;
        font-size: 0.7rem;
        padding: 0.5rem;
    }
    
    .shopProductImage {
        font-size: 0.7rem;
        width: 100%;
        min-height: 100px;
        border: 1px solid rgb(149, 146, 146);
    }

    .shopProductInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        font-weight: 700;
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    .shopProductEditButton {
        color: green;
        font-size: 0.7rem;
        font-weight: 600;
        padding: 0.3rem 0.5rem;
        border: 2px solid green;
        border-radius: 10px;
        cursor: pointer;
    }
}
