.myShopContainer {
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;

    .searchContainer {
        width: 40%;
        margin: 3rem auto;
        gap: 0.7rem;
        background-color: rgb(249, 248, 248);
        border: 1px solid rgb(149, 146, 146);
        border-radius: 10px;

        span {
            i {
                font-size: 1.3rem;
                margin-left: 10px;
            }
        }

        input {
            height: 100%;
            width: 90%;
            padding: 15px 10px;
            background-color: inherit;
            font-size: 1rem;
        }
    }

    .shopProductsContainer {
        width: 100%;
        height: 100%;
        .shopSidebar {
            padding: 20px;
            flex: 1;
            border-right: 3px solid black;
            margin-right: 20px;
            text-align: end;
        }

        .shopProducts {
            flex: 5;
            width: 100%;
            height: 100%;
            gap: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .myShopContainer {
        column-gap: 30px;
        .searchContainer {
            width: 70%;
            margin: 20px auto;

            span {
                i {
                    flex: 1rem;
                }
            }

            input {
                height: 100%;
                padding: 12px 10px;
            }
        }
        .shopProductsContainer {
            height: 100%;
            width: 100%;
            .shopSidebar {
                flex: 1;
            }
            .shopProducts {
                flex: 3;
                width: 100%;
                height: 100%;
                gap: 10px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .myShopContainer {
        column-gap: 30px;
        .searchContainer {
            width: 90%;
            overflow: hidden;
            margin: 20px auto;

            span {
                i {
                    flex: 1rem;
                }
            }

            input {
                height: 100%;
                padding: 12px 10px;
            }
        }
        .shopProductsContainer {
            height: 100%;
            width: 100%;
            flex-direction: column;
            .shopSidebar {
                flex: 1;
            }
            .shopProducts {
                flex: 3;
                width: 100%;
                height: 100%;
                gap: 0px;
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .myShopContainer {
        column-gap: 30px;
        .searchContainer {
            width: 90%;
            overflow: hidden;
            margin: 20px auto;

            span {
                i {
                    flex: 1rem;
                }
            }

            input {
                height: 100%;
                padding: 10px 2px;
            }
        }
        .shopProductsContainer {
            height: 100%;
            width: 100%;
            flex-direction: column;
            .shopSidebar {
                flex: 1;
            }
            .shopProducts {
                flex: 3;
                width: 100%;
                height: 100%;
                gap: 0px;
            }
        }
    }
}
