.shopBannerContainer {
    display: flex;
    flex-direction: column;
    width: 90%;

    .shopPath {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        padding: 1rem 0;
        gap: 0.5rem;
        color: green;

        .pathArrow {
            font-size: 0.7rem;
            color: rgb(149, 146, 146);
        }
        span {
            color: rgb(149, 146, 146);
        }
    }

    .shopDetails {
        display: flex;

        .shopImage {
            height: 150px;
            width: 150px;
            border-radius: 10px;
        }

        .shopInfo {
            display: flex;
            flex-direction: column;
            padding: 1rem 2rem;
            gap: 0.5rem;

            .shopName {
                font-size: 1.5rem;
                font-weight: 600;
            }

            .shopAddress {
                display: flex;
                align-items: center;
                font-size: 0.9rem;
                gap: 1rem;
                color: rgb(149, 146, 146);

                .shopTimeContainer {
                    display: flex;
                    gap: 0.3rem;

                    .seprationDot {
                        font-size: 0.7rem;
                    }

                    .timeIcon {
                        color: green;
                    }
                }
            }
        }
    }
}
