.CreateAccountPage{
    height: 100vh;
    background: linear-gradient(to bottom,rgb(104, 224, 235),rgb(0, 157, 255));
    gap: 100px;

    .RegisterForm{
        height: 580px;
        width: 400px;
        background-color: white;
        padding: 30px;
        border-radius: 10px;

        form{
           gap: 20px; 

           input{
            height: 40px;
            border-bottom: 1px solid #999;
           }

           label{
            display: flex;
            align-items: center;
            cursor: pointer;


            input{
                margin-right: 10px;
            }
           }

           button{
            height: 50px;
            border-radius: 10px;
            background-color: rgb(8, 147, 239);
            font-size: 1.1rem;
            font-weight: 500;
            color: white;
           }

           p{
            button{
                background-color: transparent;
                color: rgb(5, 69, 152);
            }
           }
        }

        
    }
    .LoginForm{
        height: 400px;
        width: 400px;
        background-color: white;
        padding: 30px;
        border-radius: 10px;


        form{
            gap: 20px; 
 
            input{
             height: 40px;
             border-bottom: 1px solid #999;
            }
 
            label{
             display: flex;
             align-items: center;
             cursor: pointer;
 
 
             input{
                 margin-right: 10px;

             }
            }
 
            button{
             height: 50px;
             border-radius: 10px;
             background-color: rgb(8, 147, 239);
             font-size: 1.1rem;
             font-weight: 500;
             color: white;
            }
 
            p{
             button{
                 background-color: transparent;
                 color: rgb(5, 69, 152);
             }
            }
         }
    }
}