.footer{
    min-height: 300px;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: white;
    padding: 3% 10%;
    gap: 30px;


    .row{
        height: 100%;
        width: 100%;
        align-items: flex-start;
        gap: 20px;

       .logo{
        font-size: 2rem;
        font-weight: 500;
       }

        .footer-heading{
            font-size: 1.2rem;
        }

        .link{
            color: white;

            i{
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (max-width  : 500px) {
    .footer{
        flex-wrap: wrap;
        .row{
            align-items: center;
            justify-content: center;
        }
    }
    
}