.shop-card {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 0 3px gray;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform-origin: center;
    background-color: white;
    overflow: hidden;
    color: black;

    .shop-img {
        height: 60%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .shop-detail {
        padding: 5px 10px;
        flex: 1;
        align-items: flex-start;
        gap: 7px;

        .col {
            gap: 70px;
            flex: 1;

            p {
                min-width: 70%;
            }

            i {
                font-size: 2rem;
            }
            .fa-unlock {
                color: green;
            }
            .fa-lock {
                color: gray;
            }
        }
    }

    &:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 768px) {
    .shop-card {
        width: 47%;
    }
}
@media screen and (max-width: 500px) {
    .shop-card {
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width: 320px) {
    .shop-card {
        width: 100%;
        
    }
}
