.searchpage {
    
    width: 100vw;
    .searchsection {
        width: 100vw;
        padding: 2% 0;
     
        .shops-items-section {
            width: 100vw;
             
            
            ul {
                gap: 100px;

                li {
                    list-style: none;
                    font-size: 1.3rem;
                    font-weight: 500;
                    cursor: pointer;
                    padding-bottom: 10px;
                }
                .activeit {
                    border-bottom: 3px solid black;
                }
                .notactive {
                    color: #777;
                }
            }
            .result-section {
                display: flex;
                flex-wrap: nowrap;
                width: 100%;
                padding: 1rem;
                gap: 1rem;
                // background-color: red;
                padding-inline: auto;
                margin-block: 50px;
            }
        }
    }
}
