.siteBenefitsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    h2 {
        font-family: "Times New Roman", Times, serif;
    }

    .siteBenefitsCardsContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .siteBenefitsCard {
            display: flex;
            flex-direction: column;
            width: 32%;
            padding: 1rem;
            gap: 1rem;
            border: 15px solid rgb(234, 233, 233);
            border-radius: 10px;

            img {
                width: 30%;
            }

            div {
                font-size: 1.5rem;
                font-weight: 800;
                color: rgb(72, 70, 70);
            }
        }
    }
}
