.sellerAccountPage {
    padding: 0 5%;
    background-color: #f1eeee;
    height: 100%;
    h2{
       text-align: center;
       padding-block: 30px;

    }
    img {
        height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center top;
    }
    .shop-banner-details{
        width: 100%;
        
        div{
            margin-block: 30px;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    .shop-details-area{
         gap: 20px;
         min-height: 50vh;
         margin-block: 50px;
        .SellerTabs {
            flex: 1;
            gap: 20px;
            background-color: white;

            .profileArea{
                min-height: 300px;
                padding: 20px;
            }

            .Tab {
                font-family: inherit;
                cursor: pointer;
                 padding: 20px 30px;
            }
            .activeTab {

                font-family: inherit;
                color: aliceblue;
                cursor: pointer;
               padding: 20px 30px;
                background-color: rgb(0, 102, 255);
            }

            li {
                cursor: pointer;
                list-style: none;
            }
        }
        .details {
            flex: 3;
            background-color: white;
            padding: 20px 30px;
        }
    }

}
