.main-featured{
   //   height: 60vh;
     width: 100%;
     background: linear-gradient(to top,rgb(5, 167, 231),aqua);
     flex-direction: column;
     gap: 50px;
     padding-top: 100px;
     


     .main-content{
        max-width: 700px;
        text-align: center;
         h1{
            font-weight: 600;
            color: white;
            margin-bottom: 10px;
         }
         p{
            color: black;
            font-weight: 500;
         }
     }
     .main-sliders{
       height: 250px;
       width: 100%;

      

      .swiper{
         width: 100%;
         height: 100%;
         padding: 2rem ;
     
         .slide-items {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 15px;
            height:100%;
            width: 100%;
   
        }
      }
     }
}