.main-sliders {
    height: 60vh;
    width: 100%;
    background: gray;

    .swiper {
        // width: 300vw;
        height: 97%;
        background-color:white;
        
        .slide-items {
            height: 100%;
            // width: 220vw;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center center;
            }
        }
    }
}
