.topbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(149, 146, 146);

    .topbarLogo {
        font-family: inherit;
        font-weight: 700;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .topbarRight {
        font-family: inherit;
        font-weight: 600;
        font-size: 0.8rem;
        cursor: pointer;
        .topbarSelling {
            background-color: rgb(237, 192, 12);
            padding: 0.5rem 1rem;
            border-radius: 20px;
            text-decoration: none;
            color: inherit;
        }
    }
}
