.shop-product-card {
    position: relative;
    text-decoration: none;
    color: inherit;
    height: 320px;
    width: 250px;
    border: 2px solid rgb(149, 146, 146);
    box-shadow: 0 0 3px gray;
    padding: 0.5rem;

    .product-img {
        position: relative;
        width: 100%;
        height: 60%;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transition: 0.5s ease-in-out;
            transform-origin: right;
        }
        .fav {
            z-index:1;
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;
            height: 40px;
            width: 40px;
            transition: 0.3s ease-in-out;

            i {
                font-size: 1.7rem;
            }
            &:hover {
                color: crimson;
            }
        }
        .delete{
            z-index: 1;
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
            height: 40px;
            width: 40px;
            transition: 0.3s ease-in-out;

            i {
                font-size: 1.7rem;
            }
        }
    }
    //   hover effect for image
    &:hover {
        .product-img {
            img {
                transform: scale(1.5);
            }
        }
    }
    .content {
        gap: 10px;
        .product-name {
            font-size: 1rem;
            color: black;
            h3 {
                text-decoration: none;
            }
        }
        .product-shop-name {
            font-size: 15px;
            font-weight: 500;
            color: #666;
        }
        .price-rating {
            h3 {
                color: #ff2020;
            }
            .rating {
                i {
                    color: #ffd513;
                    cursor: pointer;
                }
            }
        }
    }
    .shopProductEditButton {
        border: 2px solid green;
        color: green;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 7px 20px;
        text-align: center;
        width: 90px;
        border-radius: 20px;
        margin: auto;
        position: absolute;
        bottom: 10px;
        left: 50px;
        right: 50px;
        cursor: pointer;
    }
}
