.order-page {
    .order-page-section {
        padding: 2% 3%;
        gap: 20px;
        min-height: 70vh;

        .order-section {
            flex: 3;
            min-height: 100%;
            width: 100%;
            padding: 20px;
            box-shadow: 0 0 2px gray;

            .items {
                min-height: 200px;
                width: 100%;
                text-align: center;
                gap: 20px;
                font-size: 1.3rem;
                font-weight: 600;
            }
            .order-area {
                margin-top: 50px;
                gap: 30px;
                button {
                    padding: 12px;
                    background-color: rgb(45, 126, 233);
                    color: white;
                    width: 120px;
                    border-radius: 5px;
                }
            }
        }
        .info-area {
            flex: 1;
            min-height: 100%;
            width: 100%;
            padding: 20px;
            gap: 100px;
            box-shadow: 0 0 2px gray;

            h3 {
                color: red;
            }
            .follow-us {
                gap: 15px;
                h3 {
                    color: rgb(8, 82, 194);
                }

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 600;
                    color: black;
                }
            }
        }
    }
}
