// Edit Profile section styling
.EditProfile {
    width: 100%;
    height: 100%;
    gap: 30px;

    .profile-img {
        .image {
            margin-bottom: 30px;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: 1px solid black;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .uploadImageDiv {
            font-size: 1.3rem;
            font-weight: 500;
            background-color: var(--color-success-dark);
            color: white;
            padding: 10px 12px;
            input {
                display: none;
            }
        }
    }
    .user-name,
    .user-email,
    .user-number {
        width: 70%;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px 30px;

        span {
            flex: 1;
        }
        .title {
            color: rgb(5, 88, 190);
        }
        input {
            width: 100%;
            border-bottom: 2px solid rgb(0, 81, 255);
            padding: 12px 0;

            &::placeholder {
                font-size: 17px;
            }
        }
    }
    button {
        background-color: var(--color-dark);
        color: white;
        padding: 12px 25px;
        font-size: 17px;
    }
}
//my favorites items styling
.myfavourites {
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.ordersTab {
    width: 100%;
    gap: 10px;
    height: 100%;
    width: 100%;
    flex-direction: column;
   

    .orderContainer {
        height: max-content;
        width: 100%;
        border: 1px solid black;

        .orderHeading {
            padding: 10px;
            height: 30%;
            width: 100%;
        }
        .myorder {
            height: 70%;
            width: 100%;
        }
        .book-btn {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;
            margin-right: 20px;

            button {
                padding: 12px 0;
                font-size: 1rem;
                border-radius: 20px;
            }
        }
        .book-btn {
            button {
                margin-block: 10px;
                background-color: red;
                cursor: pointer;
                color: white;
                padding: 12px;
            }
        }
    }
}

//Profile section styling
.myprofile {
    height: 100%;
    width: 100%;
    gap: 20px;

    .profile-img {
        height: 130px;
        width: 130px;
        overflow: hidden;
        border-radius: 50%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .my-name {
        font-size: 18px;
        font-weight: 500;
    }
}

@media screen and (max-width: 768px) {
    .EditProfile {
        width: 100%;
        height: 100%;
        gap: 20px;

        .profile-img {
            .image {
                margin-bottom: 30px;
                height: 150px;
                width: 150px;
                border-radius: 50%;
                border: 1px solid black;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .user-name,
        .user-email,
        .user-number {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 20px 30px;
        }
    }

    .myfavourites {
        gap: 10px;
        width: 100%;
        height: 100%;
        padding: 0 0;

        .fav-product {
            width: 100%;
            height: 100%;
        }
    }
    .ordersTab {
        .orderContainer {
            .orderHeading {
                button {
                    font-size: 12px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .EditProfile {
        width: 100%;
        height: 100%;
        gap: 10px;

        .profile-img {
            .image {
                margin-bottom: 30px;
                height: 150px;
                width: 150px;
                border-radius: 50%;
                border: 1px solid black;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .user-name,
        .user-email,
        .user-number {
            width: 100%;
            display: flex;
            align-items: flex-start;
            gap: 0px;
            padding: 20px;
            flex-direction: column;

            input {
                font-size: 1rem;
            }
        }
    }
    .myfavourites {
        gap: 0px;
        width: 100%;

        .fav-product {
            width: 100%;
            height: 100%;
        }
    }
    .myprofile {
        height: 100%;
        width: 100%;
        gap: 20px;

        .profile-img {
            height: 130px;
            width: 130px;
            overflow: hidden;
            border-radius: 50%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .my-name {
            font-size: 20px;
            font-weight: 500;
        }
    }
    .ordersTab {
        gap: 0;
        flex-wrap: wrap;
        flex-direction: row;
        .orderContainer {
            width: 100%;
           
            .orderHeading {
                flex-direction: column;
                justify-content: center;
                button {
                    font-size: 10px;
                }
                p {
                    flex: 1;
                        font-size: 12px;
                    
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .EditProfile {
        width: 100%;
        height: 100%;
        gap: 10px;

        .profile-img {
            .image {
                margin-bottom: 30px;
                height: 130px;
                width: 130px;
                border-radius: 50%;
                border: 1px solid black;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .user-name,
        .user-email,
        .user-number {
            width: 100%;
            display: flex;
            align-items: flex-start;
            gap: 0px;
            padding: 20px 30px;
            flex-direction: column;
        }
    }
    .myfavourites {
        gap: 10px;
        width: 100%;

        .fav-product {
            width: 100%;
            height: 100%;
        }
    }
}
