.editProductContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 40%;

    .editProductForm {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        width: 100%;
        padding: 1rem;
        border: 1px solid black;

        .editProductHeading {
            font-family: "Times New Roman", Times, serif;
            font-size: 1.2rem;
            font-weight: 800;
        }

        .editProductDesc {
            font-family: "Times New Roman", Times, serif;
            font-size: 0.9rem;
            margin-bottom: 0.7rem;
        }

        .editProductInput {
            padding: 0.5rem;
            border: 1px solid black;
        }

        .editProductSubHeading {
            font-family: "Times New Roman", Times, serif;
            font-size: 0.9rem;
            margin-top: 0.7rem;
        }

        .editProductImageInputContainer {
            display: flex;
            padding: 2.5rem 4rem;
            width: fit-content;

            border: 1px solid black;
            border-radius: 10px;
            position: relative;

            cursor: pointer;
        }

        .editProductImageInput {
            display: none;
        }

        .editProductImageText {
            // font-family: "Times New Roman", Times, serif;
            font-size: 0.7rem;
        }

        .editProductSubmitButton {
            font-size: 0.7rem;
            padding: 0.5rem 2rem;
            color: whitesmoke;
            background-color: rgb(18, 101, 224);
            width: fit-content;
            cursor: pointer;
        }
    }
}
