.prdouct-card {
    height: 300px;
    width: 240px;
    box-shadow: 0 0 3px gray;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    color: #333;

    .product-img {
        position: relative;
        width: 100%;
        height: 190px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transition: 0.5s ease-in-out;
            transform-origin: center;
        }
        .fav {
            z-index: 99999;
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;

            i {
                font-size: 1.7rem;
            }
            &:hover {
                color: tomato;
            }
        }
    }

    &:hover {
        .product-img {
            img {
                transform: scale(1.5);
            }
        }
    }
    .content {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        .product-name {
            font-size: 1rem;
            font-weight: 400;
            color: black;
        }
        .product-shop-name {
            font-size: 0.95rem;
            font-weight: 500;
            color: #666;
        }
        .price-rating {
            h4 {
                color: #ff2020;
            }
            .rating {
                i {
                    color: #ffd513;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .prdouct-card {
        width: 47%;
    }
}
@media screen and (max-width: 500px) {
    .prdouct-card {
        width: 70%;
        margin: auto;
    }
}
@media screen and (max-width: 320px) {
    .prdouct-card {
        width: 100%;
        
    }
}

