.products {
    gap: 20px;

    .prdouct-card {
        height: 360px;
        width: 300px;
        box-shadow: 0 0 3px gray;

        .product-img {
            position: relative;
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                transition: 0.5s ease-in-out;
                transform-origin: right;
            }
            .fav {
                z-index: 99999;
                position: absolute;
                top: 10px;
                right: 15px;

                cursor: pointer;
                height: 40px;
                width: 40px;
                background-color: white;
                transition: 0.3s ease-in-out;

                i {
                    font-size: 1.7rem;
                }
                &:hover {
                    color: tomato;
                    // color: white;
                }
            }
        }
        //   hover effect for image
        &:hover {
            .product-img {
                img {
                    transform: scale(1.1);
                }
            }
        }
        .content {
            padding: 10px;
            .product-name {
                font-size: 18px;
                font-weight: 400;
                color: black;
            }
            .product-shop-name {
                font-size: 17px;
                font-weight: 500;
                color: #666;
            }
            .price-rating {
                h3 {
                    color: #ff2020;
                }
                .rating {
                    i {
                        color: #ffd513;
                        cursor: pointer;
                    }
                }
            }
        }
        .actions {
            margin-inline: 20px;
            button {
                padding: 10px 24px;
                color: black;
                font-size: 15px;
                font-weight: 500;
            }
            .buybtn {
                background-color: rgb(243, 68, 5);
                cursor: pointer;
            }
            .cartbtn {
                background-color: #ffc013;
                cursor: pointer;
            }
        }
    }
}
