@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

.productCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: 16%;
    gap: 1rem;
    -webkit-box-shadow: 0 0 2px 2px #ebe1e1;
    -moz-box-shadow: 0 0 2px 2px #ebe1e1;
    box-shadow: 0 0 2px 2px #ebe1e1;

    .productCardImageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;

        height: 120px;

        img {
            height: 100%;
            width: 80%;
        }
    }

    .productCardInformationContainer {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 0.5rem;

        .productCardName {
            font-size: 1rem;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
        }

        .productCardGMS {
            display: flex;
            flex-direction: column;
            font-size: 0.9rem;
            font-family: "Poppins", sans-serif;
            gap: 1em;
            color: rgb(149, 146, 146);
        }

        .productCardDetails {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .productCardProductPrice {
                font-weight: 600;
            }

            .productCardAddProduct {
                color: rgb(0, 191, 57);
                border: 2px solid #cac3c3;
                font-size: 0.9;
                font-weight: 600;
                padding: 0.4rem 0.8rem;
                border-radius: 50px;
                cursor: pointer;
            }
        }
    }
}
