.shopSlidebar-area {
    .shopSlidebar {
        h3{
            color: var(--category-bg-color);
        }
        
        ul {
            gap: 20px;
            margin-top: 30px;
            li {
                list-style: none;
                font-size: 1.1rem;
                font-weight: 400;
                cursor: pointer;
                color: var(--color-category);

                &:hover{
                    color: var(--color-success);
                }
            }
        }
    }
    .mobile-slider{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .shopSlidebar-area {
        .shopSlidebar {
            display: none;
        }
        .mobile-slider {
            display: block;
            .my-cats {
                .my-cat {
                    cursor: pointer;
                    min-width: max-content;
                    margin-right: 10px;
                    font-size: 14px;
                    padding-bottom: 10px;
                    color: var(--color-category);

                    &:hover{
                        color: var(--color-success);
                    }
                }
            }
        }
    }
}
